body {
    background-color: #1b1b1b !important;
    color: white;
    font-family: 'Georgia';
}

.fade {
    animation: 3s linear .1s fadeInAnimation;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.nav_container {
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav_bar {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    justify-content: space-evenly;
    display: flex;
    background-color: #1b1b1b;
}

.nav_bar_element {
    display: inline;
    float: left;
    padding: 15px;


  }

.nav_bar_link {
    display: block;
    padding: 8px;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}

.map {
    aspect-ratio: 16/10;
    width: 85%;
    background-color: rgb(11, 2, 36);
    margin: auto; 
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 15px;
}

.title {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    text-align: center;
    font-size: 5em;
}

.section_title {
    font-size: 3.5em;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 2%;
}

.text {
    margin: auto;
    line-height: 1.4;
    max-width: 80%;
    overflow: auto;
    text-align: center;
    font-size: 1.5em;
}

ul {
    display: inline-block;
    text-align: left;
}

.noscroll {
    overflow: hidden !important;
}
